<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <title>送信完了 | サンプル株式会社</title>
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">サンプル株式会社</a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-bar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">会社情報</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ニュース</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">採用情報</a></li>
                        <li class="nav-item"><a href="#" class="nav-link active">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="mt-4 pb-4 border-bottom">送信完了</h1>
        <p>ありがとうございました。送信を受け付けました。</p>
        <p>3営業日以内をめどにご返信いたしますので、しばらくお待ちください。</p>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">会社名：</label>
            <div class="col-sm-9">
                <% company = params['company'] %>
                <p><%= company %></p>
            </div>
        </div>
        
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">氏名：</label>
            <div class="col-sm-9">
                <% name = params['name'] %>
                <p><%= name %></p>
            </div>
        </div>
        
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">メール：</label>
            <div class="col-sm-9">
                <% mail = params['mail'] %>
                <p><%= mail %></p>
            </div>
        </div>
        
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">電話番号：</label>
            <div class="col-sm-9">
                <% tel = params['tel'] %>
                <p><%= tel %></p>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">内容：</label>

            <div class="col-sm-9">
                <% content = params['content'].gsub(/\r\n|\r|\n/,"<br>") %>
                <p><%= content %></p>
            </div>
        </div>
    </div>
                    
    <div class="text-center mb-4">
        <!-- 「戻る」ボタンを緑色にする設定を追加 -->
        <a href="/" class="btn btn-success">戻る</a>
    </div>
    
    <footer class="text-center pt-3 border-top">
        &copy; 2021 SAMPLE Inc.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>